*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display:flex;
  flex-direction: row;
  align-items: flex-end;
  min-width:1140px;
  gap: 30px;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  color:#fff;
  font-family:'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color:#545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline:1px solid #fff;
  outline-offset: 1px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display:flex;
  flex-direction: row;
  justify-content: space-between;

}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family:'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap:5px;
  cursor: pointer;
}

 .search-form__textfield {
  min-width: 225px;
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  appearance: none;
  color:#fff;
}

.search-form__textfield::placeholder {
  color:rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline:1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap:15px;
}

.search-form__pseudo-checkbox {
  height:19px;
  width:19px;
  border: 1px solid #fff;
  padding: 1px;

}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  height:100%;
  width:100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover:not(:has(.search-form__textfield)) {
  text-decoration: underline;
}

.search-form__submit-button {
  padding: 6px 73.5px;
  align-self:end;
}

.content__details {
  height: 100%;
  width:100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  padding-top: 5px;

}

.content__accent {
  color: #545050;
}

.content__list-container {
  height:298px;
  overflow-y: auto;
  margin-top:21px;
  display:flex;
  flex-direction:column;
  gap: 30px;
  position:relative;
  padding-left:2px;

}

.content__list {
  gap: 30px;
  display:flex;
  flex-direction:column;
  max-width: 390px;
}

.content__card-link {
  text-decoration: none;
  color: white;
  display:block;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline:1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display:flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.content__video-card-description-container {
  max-width: 196px;
  flex-grow: 1;
}

.content__video-card-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight:700;
  font-family: Oswald, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  line-height: 16.2px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  padding: 6px 142px;
}

